<%- include('header') %>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.1/dist/L.Control.Locate.min.css" />
<style>
body {
  display: block;
}
.container {
    margin-top: 40px;
}
.body {
    display: block;
}
.logo {
    max-width: 200px;
}
.brand-name {
    margin: 5%;
    max-width: 200px;
}

.card {
  background-color: white;
  padding: 30px;
  margin-top: 30px;
}

</style>

</head>
<body>
    <header class="navbar fixed-top flex-md-nowrap p-2 navbar-expand-sm shadow bg-light">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="">
          Library
        </a>
        <div class="navbar-nav">
            <div class="nav-item">
                <a class="nav-link " href="#">Tài Khoản</a>
            </div>
            <div class="nav-item active">
                <a class="nav-link" href="/user/history">Lịch sử</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/user/book">Thuê Sách</a>
            </div>
            <div class="nav-item">
              <a class="nav-link" href="/user/rent">Phiếu mượn</a>
          </div>
            <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="/user/logout">
                    Đăng xuất
                    <i class="fas fa-sign-out-alt"></i>
                    </a>
            </div>
        </div>
    </header>
  <div class="container">
      <div class="row">
          <div class="col col-12">
              <% if (history.length === 0) { %>
                <div class="card">
                  <div class="card-body">
                    <h1 style="color:#007bff">Không có lịch sử mượn sách</h1>
                  </div>
                </div>
              <% } else { %>
                <% for( let index = history.length - 1; index >= 0; index--) { %>
                  <div class="card">
                    <div class="card-body">
                      <h2 style="color:#007bff"><%= history[index].tenSach %></h1>
                      <p>Tên tác giả: <%= history[index].tenTG %> - Thể loại: <%= history[index].theLoai %></p>
                      <p>Nhà xuất bản: <%= history[index].NXB %> - Năm xuất bản: <%= history[index].namXB %></p>
                      <p>ID sách: <%= history[index].idSach %> - Vị trí: <%= history[index].viTri %> </p>
                      <h6>Ngày mượn: <%= history[index].ngayMuon.getFullYear()%>-<%=history[index].ngayMuon.getMonth()+1%>-<%=history[index].ngayMuon.getDate()%></h6>
                      <h6>Ngày hẹn trả: <%= history[index].ngayHenTra.getFullYear()%>-<%=history[index].ngayHenTra.getMonth()+1%>-<%=history[index].ngayHenTra.getDate()%></h6>
                      <h6>Tiền cọc: <%=history[index].tienCoc %></h6>
                      <h5>Trạng thái: <%=history[index].trangThai %></h5>
                    </div>
                  </div>
                <% } %>
              <% } %>
          </div>
      </div>
  </div>
</body>